<!--
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/aspect-ratio'),
    ],
  }
  ```
-->
<div class="bg-white">
  <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-8 lg:max-w-7xl lg:px-8">
    <!--<h2 class="text-2xl font-bold tracking-tight text-gray-900">Customers also purchased</h2>-->

    <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
        <% @properties.each do |property| %>
            <div class="group relative">
                <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75">
                <img src="https://www.hostaway.com/_gatsby/image/55e938ab93a1dc59867c0bcd4e4741fc/dcaa1c2e318c7b93b7150f23e87d9a24/how%20to%20find%20the%20right%20Airbnb%20property%20to%20buy.jpg?u=https%3A%2F%2Fimages.ctfassets.net%2Fpqmtoyw9z10u%2F3L6TUzq7bZcImfbv8lHeot%2F13e55c6b384984bea9a22be319d9bd0d%2Fhow_to_find_the_right_Airbnb_property_to_buy.jpg&a=w%3D960%26h%3D549%26fm%3Djpg%26q%3D75&cd=2024-03-26T05%3A56%3A37.329Z" alt="Front of men&#039;s Basic Tee in black." class="h-full w-full object-cover object-center lg:h-full lg:w-full">
                </div>
                <div class="mt-2 flex justify-between">
                    <h3 class="text-base font-medium text-gray-700">
                    <a href="#">
                        <span aria-hidden="true" class="absolute inset-0"></span>
                        <%= property.city %>, <%= property.country %>
                    </a>
                    </h3>
                    <p class="flex items-center text-sm font-light text-gray-900">
                        <svg class="mr-1 block w-3 h-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" role="presentation" focusable="false" style="display: block; height: 12px; width: 12px; fill: currentcolor;"><path fill-rule="evenodd" d="m15.1 1.58-4.13 8.88-9.86 1.27a1 1 0 0 0-.54 1.74l7.3 6.57-1.97 9.85a1 1 0 0 0 1.48 1.06l8.62-5 8.63 5a1 1 0 0 0 1.48-1.06l-1.97-9.85 7.3-6.57a1 1 0 0 0-.55-1.73l-9.86-1.28-4.12-8.88a1 1 0 0 0-1.82 0z"></path></svg>
                        4.8
                    </p>
                </div>
                <p class="mt-1 text-sm text-gray-500">Hosted by Bruno</p>
                <p class="mt-1 text-sm text-gray-500">20-25 January</p>
                <p class="mt-1 text-sm font-light text-black">
                  <span class="font-medium"><%= humanized_money_with_symbol(property.price) %></span> night</p>
            </div>

            <!-- More products... -->
        <% end %>
    </div>
  </div>
</div>